
.spacerows{
  padding-left: 3px;
  padding-top: 20px;
}
.spacerows-01{
  padding-left: 3px;
  padding-top: 2px;
}
.spacerow-details{

  padding-top: 1px;
}

body {
  background-color: #633a34;
}
h3 {
  color: white;
}
p{
  padding-top: 3px;
  padding-bottom: 3px;
  border: solid white 1px;
}
.tagline{
  font-size: 1.0em;
  color: white;
}
p.headline{
  font-size: 3.25vw;
  font-weight: bold;
  color: white;
  border: none;
}
li.detail-item{
  list-style-type: none;
  text-align: center;
  color: white;
}
.detail-item{
  font-size: 3vw;
  font-weight: bold;
}
.detail-item-sub-title{
  list-style-type: none;
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 3vw;
}
